.marker {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid aqua;
}

body {
    background-color: seashell;
}

#map {
    margin: 0 auto;
}